@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$or: #E9AD38;
$yellow: #ECC94B;
$red: #E02324;
$blueLight: #79DAFF;
$blue: #1E429F;
$green: #057A55;
$gray: #D2D6DC;
$black: #000;
$white: #fff;

*, ::before, ::after{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: $black;
    font-weight: 300;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
 
a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}
