@import 'reset';
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    margin: 0 20px;
    h2 {
        font-size: 36px;
        font-weight: 700;
        color: #252F3F;
    }
    &-input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 20px 0;
        label {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 5px;
        }
        input {
            width: 100%;
            border: 1px solid #E5E7EB;
            border-radius: 4px;
            padding: 10px;
            outline: none;
            &:focus {
                border-color: #bcbec3;
            }
        }
    }
    &-options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
            font-size: 14px;
            font-weight: 500;
        }
        h4 {
            display: flex;
            align-items: center;
            justify-content: center;
            label {
                font-size: 14px;
                font-weight: 400;
                margin-left: 5px;
                cursor: pointer;
            }
        }
    }
    button {
        background: $or;
        border: 1px solid $or;
        border-radius: 4px;
        padding: 10px;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        color: #252F3F;
        margin-top: 20px;
        cursor: pointer;
        transition: box-shadow 0.2s ease-in-out;
        &:hover {
            box-shadow: 2px 2px 10px #dfdfdf;
        }
    }
}